<section id="doctors">
        <div class="content">
            <div class="card">
                <img src="../../assets/images/doc-1.jpg" alt="a" style="width:100%">
                <h1>ELINA SELVATER</h1>
                <p class="title">Dentiste</p>
                <p>Discover Our Services From here </p>
                <a href="#"><i class="fa-solid fa-phone"></i><span> +216 30303030 </span></a><br>
                <a href="#"><i class="fa-solid fa-location-dot"></i><span> Kairouan</span> </a>
                <button style="background-color: black;" mat-raised-button color="primary">Contact</button>
            </div>
            <div class="card">
                <img src="../../assets/images/doc-2.jpg" alt="John" style="width:100%">
                <h1>daimen legibirt</h1>
                <p class="title">Dermatologist and Venereologist</p>
                <p>Discover Our Services From here </p>
                <a href="#"><i class="fa-solid fa-phone"></i><span> +216 30630630 </span></a>
                <br>
                <a href="#"><i class="fa-solid fa-location-dot"></i><span> Tunis</span> </a>
                <button style="background-color: black;" mat-raised-button color="primary">Contact</button>
            </div>
            <div class="card">
                <img src="../../assets/images/doc-3.jpg" alt="John" style="width:100%">
                <h1>John Doe</h1>
                <p class="title">Chest disease specialist</p>
                <p>Discover Our Services From here </p>
                <a href="#"><i class="fa-solid fa-phone"></i><span> +216 20030050 </span></a>
                <br>
                <a href="#"><i class="fa-solid fa-location-dot"></i><span> Nabeul </span> </a>
                <button style="background-color: black;" mat-raised-button color="primary">Contact</button>
            </div>
            <div class="card">
                <img src="../../assets/images/doc-4.jpg" alt="John" style="width:100%">
                <h1>Louis Pasteur</h1>
                <p class="title">Cardiovascular disease specialist</p>
                <p>Discover Our Services From here </p>
                <a href="#"><i class="fa-solid fa-phone"></i><span> +216 60360300 </span></a>
                <br>
                <a href="#"><i class="fa-solid fa-location-dot"></i><span> Sousse</span> </a>
                <button style="background-color: black;" mat-raised-button color="primary">Contact</button>
            </div>
            <div class="card">
                <img src="../../assets/images/doc-5.jpg" alt="John" style="width:100%">
                <h1>Jean-Louis Alibert</h1>
                <p class="title">Pediatric specialist</p>
                <p>Discover Our Services From here </p>
                <a href="#"><i class="fa-solid fa-phone"></i><span> +216 24242400 </span></a>
                <br>
                <a href="#"><i class="fa-solid fa-location-dot"></i><span> Sfax</span> </a>
                <button style="background-color: black;" mat-raised-button color="primary">Contact</button>
            </div>
            <div class="card">
                <img src="../../assets/images/doc-6.jpg" alt="John" style="width:100%">
                <h1>Christian Barnard</h1>
                <p class="title">nutrition specialist</p>
                <p>Discover Our Services From here </p>
                <a href="cantact.html"><i class="fa-solid fa-phone"></i><span> +216 50650666 </span></a>
                <br>
                <a href="cantact.html"><i class="fa-solid fa-location-dot"></i><span> gafsa </span> </a>
                <button style="background-color: black;" mat-raised-button color="primary">Contact</button>
            </div>
        </div>
    </section>  