<section>
    <div class="information">
    <h1><br>
      Our site is related to the field of health
    </h1>
    <br><br><br>
    <div class="image">
      <img src="../../assets/images/about_img.svg" alt="">
    </div>
       <h2>Definition of health</h2>
       Health is a state of complete physical, mental and social well-being and not merely the absence of disease or infirmity..
    <br><br>
    <h2>
      Site role
    </h2>
    </div>
    <p>
      this site Its role is to facilitate the passage of a remote appointment for the patient, and it also facilitates
      communication between patient and doctor in a short time and remotely,<br>
      and all this in view of the solution to the overcrowding crisis in medical offices, and also to solve the crisis of the loss of time for the use of time.
    </p>
    </section>
