<div id="after_submit">
    <form id="contact_form">
      <div class="row"><br><br><br><br><br><br><br>
        <label class="required" for="name">Your name:</label><br />
        <input id="name" class="input" name="name" type="text" value="" size="30" required/><br />
        <span id="name_validation" class="error_message"></span>
      </div>
      <div class="row">
        <label class="required" for="email">Your email:</label><br />
        <input id="email" class="input" name="email" type="email" value="" size="30" required/><br />
        <span id="email_validation" class="error_message"></span>
      </div>
      <div class="row">
        <label class="required" for="message">Your message:</label><br />
        <textarea id="message" class="input" name="message" rows="7" cols="30" required></textarea><br />
        <span id="message_validation" class="error_message"></span>
      </div><br>
      <button style="background-color: green;" mat-raised-button color="primary">Send Email</button>
    </form><br><br>
  </div>
