<div id="form">
    
    <form action="">
        <div class="card">
            <label for="email"><b>E-mail</b></label>
            <input type="text" placeholder="Enter Your E-mail" name="email" id="email" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Your Password" name="password" id="password" required>
            
            <button style="background-color: black;" mat-raised-button color="primary">Login</button>
            
            
            <input type="checkbox" checked="checked" name="remember"> Remember me
            <button style="background-color: black;" mat-raised-button color="primary">Cancel</button>


    <span class="psw">Forgot <a href="forg.html">password?</a></span>
    <p>Don't have an account<br>
    <a class="psw" href="signup.html">Sing Up</a>
    </p> 
        </div>
    </form>
</div>
 
    
