<section class="contact" id="contact">
    <div class="container">
        <form>

            <label for="uname">Username </label> <br>
            <input type="text" id="uname" name="uname" placeholder="Your Username.."required> <br>

            <label for="mail">E-mail </label><br>
            <input type="email" id="mail" name="mail" placeholder="Your E-mail.."required><br>
            
            <label for="Password">Password</label> <br>
            <input type="Password" id="Password" name="Password" placeholder="Your Password.."required> <br>

            <label for="City">City</label>
            <select id="City" name="City" required>
                <option value="Kairouan">Kairouan</option>
                <option value="Tunis">Tunis</option>
                <option value="Sousse">Sousse</option>
                <option value="Sfax">Sfax</option>
                <option value="gafsa">Gafsa</option>
                <option value="Nabeul">Nabeul</option>
                <option value="mahdia">Mahdia</option>
                <option value="beja">Beja</option>
                <option value="tozeur">Tozeur</option>
                <option value="bizert">Bizert</option>
                <option value="seliana">Seliana</option>
                <option value="jandouba">Jandouba</option>
                <option value="monastir">Monastir</option>
                <option value="gabes">Gabes</option>
                <option value="sidi bouzid">Sidi Bouzid</option>
                <option value="tatouine">Tatouine</option>
                <option value="medenine">Medenine</option>
                <option value="kebili">Kebili</option>
                <option value="kasserine">Kasserine</option>
                <option value="zaghouen">Zaghouen</option>
                <option value="el kef">El Kef</option>
                <option value="ariana">Ariana</option>
                <option value="ben arous">Ben Arous</option>
                <option value="manouba">Manouba</option>
                
            </select>
                <label>
                 Birthday:
                  <input type="date" name="bday" required/>
                </label><br><br>

              
                <button style="background-color: green;" mat-raised-button color="primary">Submit</button>
              </form>

    </div>
</section>
